.app{
   
    background-image: url(./Imagen_inicio.jpg);
    background-size: 1906px 970px;
    height: 2760px;
    width: 6820px;
    max-width: 1900px;
    max-height: 920px
}

.formu {
    width: 390px;
    height: 440px;
    background: #00BFFF;
    border-radius: 19px;
    box-shadow: 0 0 30px -10px rgb(3, 14, 29);
    align-content: center;
    text-align: center;
}

input {
    font-size: 15px;
}

input[type="text"] {
    width: 300px;
    margin: 10px 30px;
    background: rgb(255, 255, 255);
    border: 1px solid rgb(123, 156, 228);
    color: #777;
    padding: 7px 28px;
}

input[type="password"] {
    width: 300px;
    margin: 10px 30px;
    background: rgb(255, 255, 255);
    border: 1px solid rgb(123, 156, 228);
    color: #777;
    padding: 7px 28px;
}

.btn {
    background-color: cornsilk;
    color: darkblue;
    margin: 10px 40px;
}