.app{
   
    background-image: url(./Imagen_familia.jpg);
    background-size: 1906px 970px;
    height: 7660px;
    width: 8820px;
    max-width: 1900px;
    max-height: 980px
}

.formu {
    width: 440px;
    height: 340px;
    background: #6af5ee;
    border-radius: 19px;
    box-shadow: 0 0 50px -10px rgb(3, 14, 29);
    align-content: center;
    text-align: center;
}



input[type="text"] {
    width: 300px;
    margin: 10px 36px;
    background: rgb(255, 255, 255);
    border: 1px solid rgb(123, 156, 228);
    color: #777;
    padding: 7px 28px;
}


.btn {
    background-color: rgb(62, 170, 233);
    color: rgb(229, 229, 236);
    margin: 10px 36px;
}

