<div class="container app" align="center">
<br><br><br>
<h1>REGISTRO FAMILIA</h1>
<form class="form-inline formu">

    <br><br><br>
    <label class="nom_fam col-sm-12 " for="FormNomF"> Nombre grupo de familia</label>
    <input type="text" class="form-control mb-8 col-sm-10 " id="FormNomF" placeholder="Ingrese el nombre del grupo de familia">
    <br>

    <div class="col-sm-5 offset-sm-3">
        <br><br>
        <button class="btn btn-outline-primary" (click)="paciente()">SIGUIENTE</button>
      
    </div>
</form>
</div>