<div class="container app" align="center">

    <br><br><br>
    <h1>REGISTRO</h1>
    
        <div class="navBar" routerLinkActive="active">
            <ul class="nav nav-tabs REGISTRO">
                <li class="nav-item">
                    <a class="nav-link active" (click)="medico()">Soy medico</a>
                
                </li>
               <li class="nav-item">
                    <a class="nav-link active" (click)="familia()">Soy Paciente</a>
                    
                    
                </li> 
            </ul>
        </div>
    
</div>