.app{
    background-image: url(./Imagen_registro.jpg);
    background-size: 1906px 970px;
    height: 7760px;
    width: 8820px;
    max-width: 1900px;
    max-height: 900px;

}

.navBar{
    width: 1320px;
    
}
