<div class="container app" align="center">
   
    <br><br><br>
    <h1>REGISTRO PACIENTE</h1>
    <form class="form-inline formu">
        <div class="drop col-sm-12">
            <select id="Dropdown">
              <option value=”selectU”>SELECCIONE TIPO DE DOCUMENTO</option>
              <option value=”CC”>Cédula de ciudadanía</option>
              <option value=”CE”>Cédula de extranjería</option>
              <option value=”RC”>Registro Civil</option>
              <option value=”TI”>Tarjeta de identidad.</option>
              </select>
        </div>

        <br><br><br>
        <label class="num_doc col-sm-4 " for="FormNum_doc"> N°documento</label>
        <input type="text" class="form-control mb-2 mr-sm-2" id="FormNum_doc" placeholder="Ingrese su número de documento">
        <br>

        <label class="nombres col-sm-4 " for="FormName"> Nombres</label>
        <input type="text" class="form-control mb-2 mr-sm-2" id="FormName" placeholder="Ingrese sus nombres">
        <br>

        <label class="apellidoP col-sm-4 " for="FormApellidoP"> Apellido paterno</label>
        <input type="text" class="form-control mb-2 mr-sm-2" id="FormApellidoP" placeholder="Ingrese su apellido paterno">
        <br>

        <label class="apellidoM col-sm-4 " for="FormApellidoM"> Apellido materno</label>
        <input type="text" class="form-control mb-2 mr-sm-2" id="FormApellidoM" placeholder="Ingrese su apellido materno">
        <br>

        <label class="telefono col-sm-4" for="FormTel">Télefono</label>
        <input type="text" class="form-control mb-2 mr-sm-2" id="FormTel" placeholder="Télefono">

        <label class="direccion col-sm-4 " for="FormDireccion"> Dirección</label>
        <input type="text" class="form-control mb-2 mr-sm-2" id="FormDireccion" placeholder="Dirección">
        <br>

        <label class="correo col-sm-4" for="FormCorreo">Correo</label>
        <input type="email" class="form-control mb-2 mr-sm-2" id="FormCorreo" placeholder="micorreo@example.com">

        <label class="estrato col-sm-4" for="FormEstrato">Estrato</label>
        <input type="text" class="form-control mb-2 mr-sm-2" id="FormEstrato" placeholder="Estrato">

        <label class="fecha_N col-sm-4" for="Fecha_N">Fecha de nacimiento</label>
        <input type="date" class="form-control mb-2 mr-sm-2" id="Fecha_N" placeholder="dd-mm-aa">

        <label class="usuario col-sm-4 " for="FormUsua"> Usuario</label>
        <input type="text" class="form-control mb-2 mr-sm-2" id="FormUsua" placeholder="Ingrese un nombre de usuario">
        <br>

        <label class="contraseña col-sm-4" for="FormContra">Contraseña</label>
        <input type="password" class="form-control mb-2 mr-sm-2" id="FormContra" placeholder="Ingrese una contraseña">

        <div class="col-sm-5 offset-sm-3">
            <br><br>
            <button class="btn btn-outline-primary" (click)="inicio()">SIGUIENTE</button>
          
        </div>
    </form>
</div>

