
    <div class="container app" align= "center">

        <br><br><br>
        <h1>REGISTRO</h1>
          <form class="form-inline formu">
              <div class="drop col-sm-12">
              <select id="Dropdown">
                  <option value=”selectU”>SELECCIONE UN USUARIO</option>
                  <option value=”medico”>Medico</option>
                  <option value=”paciente”>Paciente</option>
                  </select>
            </div>
            <br><br><br>
              <label class="num_doc col-sm-4 " for="FormNum_doc" >
                 N°documento
                </label>
              <br><br>
              <input type="text" class="form-control mb-2 mr-sm-2" id="FormNum_doc" placeholder="Ingrese su número de documento">
              <br>
              <label class="Username col-sm-3 col-form-label" for="FormUsername">
                  Username
              </label>
    
                <input type="text" class="form-control" id="inlineFormInputGroupUsername2" placeholder="Username">
                
                <div class="col-sm-5 offset-sm-3">
                  <br><br>
              <button class="btn btn-outline-primary">ACEPTAR</button>
                </div>
            </form>
      </div>
      
