.app{
   
    background-image: url(./Imagen_registro.jpg);
    background-size: 1906px 970px;
    height: 7760px;
    width: 8820px;
    max-width: 1900px;
    max-height: 1000px
}

.formu {
    width: 690px;
    height: 840px;
    background: #6af5ee;
    border-radius: 19px;
    box-shadow: 0 0 50px -10px rgb(3, 14, 29);
    align-content: center;
    text-align: center;
}

input {
    font-size: 15px;
}

.drop {
    align-content: flex-start;
}

input[type="text"] {
    width: 300px;
    margin: 10px 30px;
    background: rgb(255, 255, 255);
    border: 1px solid rgb(123, 156, 228);
    color: #777;
    padding: 7px 28px;
}

input[type="email"] {
    width: 300px;
    margin: 10px 30px;
    background: rgb(255, 255, 255);
    border: 1px solid rgb(123, 156, 228);
    color: #777;
    padding: 7px 28px;
}

input[type="password"] {
    width: 300px;
    margin: 10px 30px;
    background: rgb(255, 255, 255);
    border: 1px solid rgb(123, 156, 228);
    color: #777;
    padding: 7px 28px;
}

.btn {
    background-color: rgb(62, 170, 233);
    color: rgb(229, 229, 236);
    margin: 10px -90px;
}

